# .dockerignore
.git
.gitignore
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.venv
venv/
.DS_Store
*.ipynb
*.sav
*.cbm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.coverage
.pytest_cache/
.mypy_cache/